/* form-container */
.form-container {
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content: center;
}
/* image-card */
.image-card img {
  width: 55%;
}
.form-input {
  margin: 20px;
}
.form-input input {
  margin: 20px;
  padding: 10px 50px;
  background: transparent;
  border: 2px solid #000;
  font-size: 1.7rem;
  border-right: 4px solid #000;
  border-left: 4px solid #000;
  border-radius: 1rem;
  /* font-family: 'Comfortaa', sans-serif; */
}
.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* responsibe */
@media screen and (max-width: 700px) {
  .form-container {
    flex-direction: column;
  }
  .form-input input {
    width: 325px;
    margin: 20px;
    text-align: left;
  }
  .image-card img {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .form-container {
    flex-direction: column;
  }
  .image-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
}
