/* design the whole numbers page.  */
/* info-title */
.info-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  font-size: 2rem;
  font-family: "Comfortaa", sans-serif;
}
/* image-div */
.image-div img {
  width: 20%;
}
/* info-box */
.info-box {
  text-align: center;
}
/* info-box h1 */
.info-box h1 {
  font-size: 2rem;
  margin: 50px;
}
/* data table */
.data-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  row-gap: 20px;
  
}
 
/* userAvater */
.userAvater {
  background: var(--purpule) !important;
  color: #000 !important; 
  border-radius: 1rem;
 
}
.avater-pic {
  background: #000 !important;
  color: var(--purpule) !important;
}
/* responsibe */
@media screen and (max-width: 700px) {
  /* data-table */
  .data-table {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: block;
    position: initial;
    top: 0;
    /* margin: 10px; */
  }
  .image-div img{
    width: 60%;
  }
   
   
  
   
}
