/*  import font family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}
:root {
  --activeGreen: #2dbf64;
  --fontPrimary: #002333;
  --Silver: #dbdbdb;
  --successGreen: #00ff84;
  --newGreen: #1dd881;
  --bodyBackground: #f2f4f8;
  --smartYellow: #ffc916;
  --smartBlue: #0070f3;
  --purpule: #728fce;
  /* --purpleCode:#800080 ; */
}
body {
  font-family: "Montserrat", sans-serif;
  background: #f7f7f7;
  scroll-behavior: smooth;
}
.scroll-to-top {
  background: #10ca70 !important;
  transition: 0.2s !important;
}
.scroll-to-top:hover{
  background: #05c96a !important;
  transform: scale(0.9) !important;
}